[package]
name = "elf-mcp"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { workspace = true }
color-eyre = { workspace = true }
tokio = { workspace = true }
elf-config = { path = "../../crates/elf-config" }
